
<nav class="navbar navbar-inverse page-nav" role="navigation">
    <div class="container">
        <div class=" navbar-header col-md-6">
            <a href="#">
                <h1 class="navbar-brand">最美的景 <small>一朵云的技术博客</small></h1>
            </a>

        </div>
        <div class="collapse navbar-collapse col-md-6">
            <ul class="nav navbar-nav">
                <li title="{{page.url}}" class="{% if page.url == '/index.html' or page.url == '/' %} active {% endif %}" >
                    <a href="{{site.baseurl}}/index.html">Home</a>
                </li>
                <li class="{% if page.url == '/about.html' %} active {% endif %}">
                    <a href="{{site.baseurl}}/about.html">About</a>
                </li>
            </ul>
        </div>
    </div>
</nav>