a,
a:hover,
a:active,
a:visited{
  color: $brand-color
}

time{
  color: $grey-color;
}


.page-header {

  height: 60px;
  margin: 30px 0 15px;

  h1 {
    float: left;
  }

  .page-nav{
    margin-top: 20px;
    float: right;
    width: 40%;

    .menu-list{


      list-style: none;

      li{
        float: left;
        padding: 0 20px;
        border-right: 2px solid $grey-color;
      }

    }

  }
}





.sub-title {
  height: 20px;

  .article-author, .article-date{
    float: right;
    margin-right: 20px;
    color: $grey-color;
  }

  .tag-region {
    float: left;
    color: $grey-color-dark;

    .tags{
      margin-left: 20px;
      color:$orange;
    }
  }
}

.glyphicon{
  margin-right: 5px;
}


.home-title{

  border-bottom: 1px solid $grey-color-light;

  h2{
    font-size: 20px;
  }

}


