a,
a:hover,
a:active,
a:visited{
  color: $brand-color
}

time{
  color: $grey-color;
}


.page-nav{


  h1 {
     font-size: 22px;
     margin: 0;
    margin-left: -15px;
  }

}

.navbar{
  border-radius: 0;
}


.blog-content{

  border-radius: 4px;
  box-shadow: 0 0 6px #999;

  margin-bottom: 20px;
}


.sub-title {
  height: 20px;

  .article-author, .article-date{
    float: right;
    margin-right: 20px;
    color: $grey-color;
  }

  .tag-region {
    float: left;
    color: $grey-color-dark;

    .tags{
      margin-left: 20px;
      color:$orange;
    }
  }
}

.glyphicon{
  margin-right: 5px;
}


.home-title{

  border-bottom: 1px solid $grey-color-light;

  h2{
    font-size: 20px;
  }

}


.post{

  .hit-count-bar{
    margin-left: 20px;
  }

  .post-content{
    h3, h4 {
      font-weight: 700 !important;
    }
  }



}


#uyan_frame{
  margin-top: 20px;
}