{% include head.html %}
<body>
{% include header.html %}
    <div class="blog-content container">


        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>{{ page.title }}</h2>
                <div class="sub-title">
                    <div class="tag-region">分类:<span class="tags">{{page.tags}}</span></div>
                    <span class="article-author"><span class="glyphicon glyphicon-user"></span> 一朵云</span>
                    <span class="article-date"><span class="glyphicon glyphicon-time"></span><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%Y-%m-%d" }}</time></span>
                </div>
            </div>
            <div class="panel-body">
                <p class="article">
                    {{ content }}
                </p>

            </div>
        </div>


    </div>


    {% include footer.html %}
</body>
</html>
