<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/default.css">
</head>
<body>
    <div class="container">
        <div class="page-header">
            <h1>最美的景 <small>一朵云的技术博客</small></h1>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>{{ page.title }}</h2>
                <div class="sub-title">
                    <span class="article-author">By 一朵云</span>
                    <span class="article-date">{{site.time | date_to_string}}</span>
                </div>
            </div>
            <div class="panel-body">
                {{ content }}
            </div>
        </div>


    </div>



    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</body>
</html>
